@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


$color-primary: #FF6060;
$color-secondary: #FFF;


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin display {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#root {
  overflow: hidden;
}

.homeContent, .aboutContent{
  @include display;
}

@import '../Components/Header/header';
@import '../Components/Banner/banner';
@import '../Components/Card/card';
@import '../Components/Collapse/collapse';
@import '../Components/Carousel/chevron';
@import '../Pages/House/house'; 
@import '../Components/Carousel/carousel';
@import '../Components/Footer/footer';
@import '../Pages/Error/error';
@import '../Pages/About/about';


