header{
    max-width: 1240px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 50px 0;

      ul{
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        list-style-type: none;
  
        a{
          color: $color-primary;
          text-decoration: none;
          font-size: 24px;
        }
      }
  }

  @media screen and (max-width: 768px) { 
    header{
      gap: 15px;
      img{
        height: 46px;
      }
      ul{
        gap: 26px;
        padding: 0;
        a{
          font-size: 12px;
        }
      }
  
    }}