.cardContainer{
  display: flex;
  flex-wrap: wrap;
  background-color:#F6F6F6 ;
  max-width: 1240px;
  width: 90%;
  height: auto;
  margin: 50px 0px;
  padding: 40px 0;
  border-radius: 25px;
  gap: 55px;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
}

.card{
  width: 340px;
  height: 340px;
  
  p{
    width: 90%;
    color: $color-secondary;
    font-size: 18px;
    z-index: 2;
    position: absolute;
    margin-left: 10px;
  }

}
.cardTitle{
  display: flex;
  background: black;
  position: absolute;
  width: 340px;
  height: 70px;
  align-items: center;
  opacity: 0.8;
  border-radius: 0 0 10px 10px;
}
.card img {
  width: 340px;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
  position:relative;
}
.cardContent{
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 768px) { 
  .cardContainer{
    max-width: 768px;
    background-color: white;
    margin: 0;
    .card, .card img{
      width: 335px;
      height: 255px; 

      .cardTitle{
        width: 335px;
      }
    }
  }
}