.errorContent p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.errorContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 139px;
  color: $color-primary;
  margin: 139px 0;

  .errorNumber{
    font-size: 288px;
    font-weight:700;
  }
  .errorText{
    font-size: 36px;
  }
  a{
    color: $color-primary;
    font-size: 18px;
  }
}