footer{
    background-color: black;
    display: flex;
    justify-content: center;
    width: 100%;
    .mobile{
        display: none;
    }
   }

@media screen and (max-width: 768px) { 
    footer{
        .desktop{
        display:none;
        }
        .mobile{
        display: flex;
        }
    }
  }